<h2>User Management System</h2>
<hr />
<div class="adduser">
  <a href="/adduser">Add user</a>
</div>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Roll No</th>
      <th>Age</th>
      <th>Phone</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    {{#each row}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.rollno}}</td>
        <td>{{this.age}}</td>
        <td>{{this.phone}}</td>
        <td><a href="/edituser/{{this.id}}" class="edit">edit</a></td>
        <td><a
            onclick="return confirm('Are you sure?')"
            href="/deleteuser/{{this.id}}"
            class="delete"
          >delete</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>